<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Dependency[]|\Cake\Collection\CollectionInterface $dependencies
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Dependency'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Subjects'), ['controller' => 'Subjects', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Subject'), ['controller' => 'Subjects', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="dependencies index large-9 medium-8 columns content">
    <h3><?= __('Dependencies') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('subject_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('hijomateria') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($dependencies as $dependency): ?>
            <tr>
                <td><?= $this->Number->format($dependency->id) ?></td>
                <td><?= $dependency->has('subject') ? $this->Html->link($dependency->subject->name, ['controller' => 'Subjects', 'action' => 'view', $dependency->subject->id]) : '' ?></td>
                <td><?= $this->Number->format($dependency->hijomateria) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $dependency->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $dependency->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $dependency->id], ['confirm' => __('Are you sure you want to delete # {0}?', $dependency->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
